<html>
    <h1 mat-dialog-title>Iniciar Sesion</h1>
        <div mat-dialog-content>         
            <div class=".container .sm">
                <mat-card>
                    <mat-card-content>
                        <div class="row">
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" required [(ngModel)]="data.email">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="fill">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" required  [(ngModel)]="data.password">
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="row">
                    <div class="button-container">
                        <button mat-raised-button color="primary" (click)="signIn()" [mat-dialog-close]="data">Iniciar Sesión</button>
                        
                    </div>
                </div>
              </div>
        </div>
</html>