<p>
  <mat-toolbar>
    <button mat-button [matMenuTriggerFor]="Menu">
      <mat-icon>menu</mat-icon></button>
      <mat-menu #Menu="matMenu">
        <a mat-menu-item href='{{data[0].action}}' routerLinkActive>
          {{data[0].title}}
        </a>
        <a mat-menu-item routerLink="/home" routerLinkActive>
          {{data[1].title}}
        </a>
        <a mat-menu-item href='{{data[2].action}}' routerLinkActive>
          {{data[2].title}}
        </a>
        <a mat-menu-item href='{{data[3].action}}' routerLinkActive>
          {{data[3].title}}
        </a>
      </mat-menu>
  <span>Ssangyong</span>
  <span class="spacer"></span>
  <div *ngIf="loggedIn == false">
    <button mat-raised-button color="primary" (click)="openSignUp()">Registrarse</button>
    <button mat-raised-button color="primary" (click)="openSignIn()">Iniciar Sesion</button>
  </div>
  <div *ngIf="loggedIn == true">
    <button mat-raised-button color="primary" (click)="logOut()">Cerrar Sesion</button>
  </div>

</mat-toolbar>
</p>
<app-catalog  [getData]="data" [loggedIn]="loggedIn" (sendEmailPermit)="sendEmail($event)"></app-catalog>
