<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 mat-dialog-title>Registro</h1>
    <div mat-dialog-content>         
        <div class=".container .sm">
           <mat-card >
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput  type="text" matNativeControl  required [formControl]="nameField" [(ngModel)]="data.name" >
                    <mat-error *ngIf="nameField.invalid">{{getErrorMessageName()}}</mat-error>
                    <p *ngIf="!nameField.invalid">{{getErrorMessageName()}}</p>
                </mat-form-field>
            </div>
            <div class="row" *ngIf="!nameField.invalid"> 
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput  type="password" required [formControl]="passwordField" [(ngModel)]="data.password">
                    <mat-error *ngIf="passwordField.invalid">{{getErrorMessagePassword()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row" *ngIf="!passwordField.invalid">
                <mat-form-field  appearance="fill" >
                    <mat-label  >Numero </mat-label >
                    <input matInput   type="number"   required [formControl]="phoneField" [(ngModel)]="data.phone"   >
                    <mat-error *ngIf="phoneField.invalid">{{getErrorMessagePhone()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row" *ngIf="!phoneField.invalid">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" required  placeholder="pat@example.com" [formControl]="emailField" [(ngModel)]="data.email">
                    <mat-error *ngIf="emailField.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row" *ngIf="!emailField.invalid">
                <mat-form-field appearance="fill">
                    <mat-label>Departamento</mat-label>
                    <mat-select matNativeControl required [(value)]="data.department" [formControl]="departmentField">
                      <mat-option value='Valle Del Cauca' >
                        Valle Del Cauca
                      </mat-option >
                      <mat-option value='Antioquia' >
                        Antioquia
                      </mat-option>
                      <mat-option value='Bogota D.C.' >
                        Bogota D.C.
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="departmentField.invalid">{{getErrorMessageDepartment()}}</mat-error>
                  </mat-form-field>
            </div>
            <div class="row" *ngIf='data.department && !emailField.invalid'>
                <mat-form-field appearance="fill">
                    <mat-label>Ciudad</mat-label>
                    <mat-select matNativeControl required [(value)]="data.city" [formControl]="cityField">
                        <div *ngIf="data.department == 'Valle Del Cauca'">
                            <mat-option value='Cali' >
                                Cali
                              </mat-option >
                              <mat-option value='Yumbo' >
                                Yumbo
                              </mat-option>
                              <mat-option value='Palmira' >
                                Palmira
                              </mat-option>
                        </div>
                        <div *ngIf="data.department === 'Antioquia'">
                            <mat-option value='Medellin' >
                                Medellin
                              </mat-option >
                        </div>
                        <div *ngIf="data.department === 'Bogota D.C.'">
                            <mat-option value='Bogota' >
                                Bogota
                              </mat-option >
                        </div>
                    </mat-select>
                    <mat-error *ngIf="cityField.invalid">{{getErrorMessageCity()}}</mat-error>
                  </mat-form-field>
            </div>
           </mat-card>
           <span>
           </span>
            <div class="row" class="check-margin" *ngIf="!cityField.invalid && !emailField.invalid">
                <mat-card >
                    <mat-card-header></mat-card-header>
                    <mat-checkbox required [formControl]="checkBotton" >
                        <a href="https://www.ssangyong.com.co/wp-content/uploads/2020/08/TE%CC%81RMINOS-Y-CONDICIONES-DE-USO-TIENDA-VIRTUAL.pdf">Acepta Terminos</a>
                    </mat-checkbox>
                    <mat-error *ngIf="checkBotton.invalid">{{getErrorMessageCheckBotton()}}</mat-error>
                </mat-card>
            </div>
            <div class="row" >
                <div class="button-container">
                    <button  mat-raised-button color="primary" (click)="createUser()" [mat-dialog-close]="data" (click)="openSnackBar()"  [disabled]="checkBotton.invalid">
                        Registrarse
                    </button>
                </div>
            </div>
          </div>
    </div>
</body>
</html>