<html>
    <div class="card">
        <mat-card >
            <mat-tab-group>
                <mat-tab label='{{getData[1].subitems[i].subtitle}}' *ngFor="let item of getData[1].subitems; index as i">
                    <mat-card color="primary" >
                        <mat-card-header>
                            <mat-card-title>
                                <img src={{getData[1].subitems[i].img}} >
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-card-title>
                                {{getData[1].subitems[i].subtitle}}
                            </mat-card-title>
                            <mat-card-subtitle>
                                {{getData[1].subitems[i].price}}
                            </mat-card-subtitle>
                        </mat-card-content>
                        <mat-card-actions >
                            <div class="spacer"  >
                                <button mat-raised-button color="primary" *ngIf="loggedIn == true" (click)="sendEmail(getData[1].subitems[i].subtitle, getData[1].subitems[i].price, getData[1].subitems[i].action )">Cotizar</button>
                                <a mat-raised-button color="primary" href='{{getData[1].subitems[i].action}}'>Mas Información</a>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </mat-tab>
              </mat-tab-group>
          </mat-card>
    </div>
</html>